body {
    background-image: url(img/landscape-mountains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

.floater {
    max-width: 600px;
    background: #fff;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    z-index: 2;
}

.floater p {
    margin: 0 auto;
    display: flex;
    font-size: .9em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.floater img {
    width: 70px;
    margin-top: 10px;
    transition: width .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.floater img:hover {
    width: 75px;
}

.floater-top {
    box-sizing: border-box;
    padding: 10px 10px;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.floater input[type='text'] {
    width: 100%;
    height: 2em;
    font-size: large;
    border: none;
    outline: 0px solid rgb(233, 233, 233);
    text-align: center;
}

.floater input[type='text']:focus {
    outline: 1px solid rgb(233, 233, 233);
}

body.show-floater input[type='text'] {
    outline: 1px solid rgb(233, 233, 233);
}

.floater .err-msg {
    color: red;
    font-size: .8em;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.floater-bottom {
    padding: 0 10px 8px;
    text-align: right;
    /* border-top: 1px solid #ddd; */
}

.floater-bottom button {
    padding: 10px 20px;
    border: none;
    background: rgb(56, 138, 214);
    color: white;
    cursor: pointer;
    font-size: .8em;
    border-radius: 2px;
}

.floater-bottom button:hover {
    background: rgb(97, 179, 255);

}

.loader {
    position: absolute;
    background: url(img/Spinner-1s-200px.svg);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100%;
    left: 40%;
    top: 0;
    display: none;
}

.show-loader {
    display: block;
}

.hide-floater {
    visibility: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: .3s ease opacity;
    z-index: -1;
    pointer-events: none;
}

body.show-floater .floater {
    transform: scale(1.05);
}

body.show-floater .floater-top {
    padding: 20px 20px 10px 20px;
}

body.show-floater .overlay {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
}

.container{
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

.output {
    width: 100%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.card {
    position: relative;
    /* min-width: 400px; */
    /* max-width: 600px; */
    display: grid;
    background: #fff;
    grid-template-columns: auto 20px;
    overflow: hidden;
}

.show-output {
    visibility: visible;
}

.bookmark {
    position: relative;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    transition: .3s ease all;
    /* border-top: 1px solid #ddd; */
    z-index: 0;
    padding: 10px;
    text-decoration: none;
    color: rgb(102, 102, 102);
    align-items: center;
    width: auto;
    height: 100px;
    /* overflow: hidden; */
}

.close {
    width: fit-content;
    height: 20px;
    display: flex;
    /* align-items: center; */
    justify-items: center;
}

.icon {
    cursor: pointer;
    background-color: transparent;
    color: rgb(110, 110, 110);
    text-align: center;
    font-size: 1em;
    font-weight: 800;
    padding: 2px;
    transition: .3s ease color;
    z-index: 0;
    /* border-top: 1px solid #ddd; */
}

.icon:hover {
    color: red;
}

.img {
    margin: -10px;
    margin-left: 0;
    max-height: 80px;
    border-radius: 3px;
    height: auto;
    max-width: 100px;
    display: inline-block;
    transition: margin .3 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.big-img{
    max-height: 120px;
    max-width: 150px;
}

.img:hover{
    margin: -50;        
}

.bookmark .title {
    margin-left: 30px;
    display: inline-flex;
}

.bookmark .video-start {
    position: absolute;
    font-size: .85em;
    color: blueviolet;
    background: white;
    bottom: -11px;
    right: -17px;
    padding: 0 5px;
    /* border: 1px solid blueviolet; */
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgb(82, 82, 82), 0px -1px 3px rgb(218, 218, 218);
    z-index: 1;
}

.floater .floater-top {
    display: block;
}

.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(255, 185, 185);
    color: black;
    font-size: .8em;
    text-align: center;
    border-radius: 0px;
    padding: 3px 3px;
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 140%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(255, 185, 185);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}